.RequestDetailsDiscuss {
}

.RequestDetailsDiscuss
  .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  outline: none;
  border-color: transparent;
  box-shadow: 0px 0px;
}

.RequestDetailsDiscuss .ck.ck-editor__editable_inline {
  /* padding: 0; */
}
